<section class="about-us" id="about-us">
  <div class="container">
    <h2 class="about-us-title">Чому Хатинка Лапок</h2>

    <div
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="swiper mySwiper"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-bg-1">
          <div class="text" data-swiper-parallax="-100">
            <p class="slide-text">
              Все почалося у 2015 році з кількох небайдужих людей та одного
              врятованого собаки. Сьогодні ми — один з найбільших притулків у
              регіоні, але наша мета незмінна: дати другий шанс тим, кого
              зрадили.
            </p>
          </div>
        </div>

        <div class="swiper-slide slide-bg-2">
          <div class="text" data-swiper-parallax="-100">
            <p class="slide-text">
              Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
              безпритульних тварин. Наша мета — не просто дати прихисток, а й
              забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
              родині.
            </p>
          </div>
        </div>

        <div class="swiper-slide slide-bg-3">
          <div class="text" data-swiper-parallax="-100">
            <p class="slide-text">
              "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
              десятків волонтерів, які щодня вкладають свою душу та час у
              турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
              залежить від нас.
            </p>
          </div>
        </div>

        <div class="swiper-slide slide-bg-4">
          <div class="text" data-swiper-parallax="-100">
            <p>
              Ми створили безпечний та комфортний простір. Кожна тварина отримує
              якісне харчування, своєчасну ветеринарну допомогу, проходить
              соціалізацію та гуляє на спеціально обладнаних майданчиках.
            </p>
          </div>
        </div>

        <div class="swiper-slide slide-bg-5">
          <div class="text" data-swiper-parallax="-100">
            <p class="slide-text">
              Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
              волонтером, допомогти фінансово або інформаційно. Кожен маленький
              внесок наближає нас до великої мети — світу без безпритульних
              тварин.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="controls-wrapper">
      <div class="controls-wrapper-mobile">
        <div class="swiper-pagination"></div>
      </div>

      <div class="swiper-buttons-container">
        <div class="swiper-button-prev">
          <svg class="icon">
            <use href="./img/sprite.svg#icon-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="icon">
            <use href="./img/sprite.svg#icon-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
