<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-box">
      <!-- LOGO -->
      <a href="./index.html" class="footer-logo" aria-label="На головну">
        <svg
          class="footer-logo-icon"
          width="302"
          height="129"
          aria-hidden="true"
        >
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <!-- NAV -->
      <div class="footer-links">
        <nav class="footer-nav" aria-label="Навігація футера">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" aria-label="Про нас" href="#about-us"
                >Про нас</a
              >
            </li>
            <li class="footer-nav-item">
              <a
                class="footer-nav-link"
                aria-label="Знайти друга"
                href="#hero-section"
                >Знайти друга</a
              >
            </li>
            <li class="footer-nav-item">
              <a
                class="footer-nav-link"
                aria-label="Часті запитання"
                href="#faq"
                >Часті запитання</a
              >
            </li>
            <li class="footer-nav-item">
              <a
                class="footer-nav-link"
                aria-label="Історії успіху"
                href="#feedback"
                >Історії успіху</a
              >
            </li>
          </ul>
        </nav>

        <!-- SOCIAL -->
        <ul class="footer-social-list" aria-label="Соціальні мережі">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- COPYRIGHT -->
    <p class="footer-copy">© 2025 Хатинка лапок. Всі права захищені.</p>
  </div>
</footer>
