<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo" target="_self" aria-label="На головну">
        <svg class="header-logo-svg" width="159" height="68">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" aria-label="Знайти друга" href="#hero-section">Знайди друга</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-label="Про нас" href="#about-us">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-label="Часті запитання" href="#faq">Часті запитання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-label="Історії успіху" href="#feedback">Історії успіху</a>
        </li>
        <li class="nav-item">
          <a class="nav-btn-link" href="#pets-list">Взяти друга</a>
        </li>
      </ul>
      <button class="burger-btn" type="button" id="data-burger-open" aria-label="Кнопка відкриття навігації"
        data-menu-open>
        <svg class="burger-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>