<div class="mobile-menu" id="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <div class="mobile-menu-top">
      <a href="./index.html" target="_self" title="company logo">
        <svg class="header-logo" width="159" height="68">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu-close" id="data-burger-close" data-menu-close>
        <svg class="svg-icon-close" width="14" height="14">
          <use href="./img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#hero-section">Знайди друга</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">Часті запитання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedback">Історії успіху</a>
        </li>
        <li class="nav-item">
          <a class="nav-btn-link" href="#pets-list">Взяти друга</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
