<section class="pets" id="pets-list">
  <div class="container">
    <!-- Лоадер -->
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-subtitle">Вони дуже чекають на знайомство з вами</p>
    <!-- Фільтри -->
    <ul class="pets-filters"></ul>
    <!-- Галерея тварин -->
    <ul class="pets-list"></ul>
    <!--Пагінація-->
    <div class="pagination"></div>
    <!-- Кнопка Показати більше -->
    <button class="load-more visually-hidden">Показати більше</button>
    <span class="loader"></span>
  </div>
</section>
