<section id="feedback">
  <div class="container">
    <h3 class="feedback-title">Щасливі історії, що надихають</h3>
    <p class="feedback-text">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="feedback-navigation">
      <div class="feedback-swiper-pagination"></div>

      <div class="arrow">
        <button
          class="feedback-swiper-button-prev"
          type="button"
          aria-label="Previous slide"
        >
          <svg class="feedback-arrow-prev" width="16" height="16">
            <use href="./img/sprite.svg#icon-left"></use>
          </svg>
        </button>

        <button
          class="feedback-swiper-button-next"
          type="button"
          aria-label="Next slide"
        >
          <svg class="feedback-arrow-next" width="16" height="16">
            <use href="./img/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- scroll to top -->
  <button class="scroll-top" type="button" aria-label="Scroll to top">
    <svg width="20" height="20">
      <use href="./img/sprite.svg#icon-logo-minus-text"></use>
    </svg>
  </button>
</section>
