.about-us .container {
    position: relative;
}
.about-us{
    padding-top: 64px;
    padding-bottom: 64px;
}

.about-us-title{
    font: 700 36px / 1.2 "Open Sans", sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .about-us{
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .about-us{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .about-us-title{
        font: 700 48px / 1.2 "Open Sans", sans-serif;
        letter-spacing: -0.01em;
        text-align: center;
        color: #02060a;
        margin-bottom: 40px;
    }
}

#about-us .slide-bg-1 {
    background-image: -webkit-image-set(
        url('../img/about-us/slide-1-min-min.webp') 1x,
        url('../img/about-us/slide-1@2x-min-min.webp') 2x
    );
    background-image: image-set(
        url('../img/about-us/slide-1-min-min.webp') 1x,
        url('../img/about-us/slide-1@2x-min-min.webp') 2x
    );
}

#about-us .slide-bg-2 {
    background-image: -webkit-image-set(
        url('../img/about-us/slide-2-min-min-mobile.webp') 1x,
        url('../img/about-us/slide-2@2x-min-min-mobile.webp') 2x
    );
    background-image: image-set(
        url('../img/about-us/slide-2-min-min-mobile.webp') 1x,
        url('../img/about-us/slide-2@2x-min-min-mobile.webp') 2x
    );
}

#about-us .slide-bg-3 {
    background-image: -webkit-image-set(
        url('../img/about-us/slide-3-min-min-mobile.webp') 1x,
        url('../img/about-us/slide-3@2x-min-min-mobile.webp') 2x
    );
    background-image: image-set(
        url('../img/about-us/slide-3-min-min-mobile.webp') 1x,
        url('../img/about-us/slide-3@2x-min-min-mobile.webp') 2x
    );
}

#about-us .slide-bg-4 {
    background-image: -webkit-image-set(
        url('../img/about-us/slide-4-min-min.webp') 1x,
        url('../img/about-us/slide-4@2x-min-min.webp') 2x
    );
    background-image: image-set(
        url('../img/about-us/slide-4-min-min.webp') 1x,
        url('../img/about-us/slide-4@2x-min-min.webp') 2x
    );
}

#about-us .slide-bg-5 {
    background-image: -webkit-image-set(
        url('../img/about-us/slide-5-min-min.webp') 1x,
        url('../img/about-us/slide-5@2x-min-min.webp') 2x
    );
    background-image: image-set(
        url('../img/about-us/slide-5-min-min.webp') 1x,
        url('../img/about-us/slide-5@2x-min-min.webp') 2x
    );
}

@media only screen and (min-width: 768px) {

    #about-us .slide-bg-1 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-1-min-min.webp') 1x,
            url('../img/about-us/slide-1@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-1-min-min.webp') 1x,
            url('../img/about-us/slide-1@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-2 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-2-min-min.webp') 1x,
            url('../img/about-us/slide-2@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-2-min-min.webp') 1x,
            url('../img/about-us/slide-2@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-3 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-3-min-min.webp') 1x,
            url('../img/about-us/slide-3@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-3-min-min.webp') 1x,
            url('../img/about-us/slide-3@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-4 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-4-min-min.webp') 1x,
            url('../img/about-us/slide-4@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-4-min-min.webp') 1x,
            url('../img/about-us/slide-4@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-5 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-5-min-min.webp') 1x,
            url('../img/about-us/slide-5@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-5-min-min.webp') 1x,
            url('../img/about-us/slide-5@2x-min-min.webp') 2x
        );
    }
}

@media only screen and (min-width: 1440px) {
    #about-us .slide-bg-1 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-1-min-min.webp') 1x,
            url('../img/about-us/slide-1@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-1-min-min.webp') 1x,
            url('../img/about-us/slide-1@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-2 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-2-min-min.jpg') 1x,
            url('../img/about-us/slide-2@2x-min-min.jpg') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-2-min-min.webp') 1x,
            url('../img/about-us/slide-2@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-3 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-3-min-min.webp') 1x,
            url('../img/about-us/slide-3@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-3-min-min.webp') 1x,
            url('../img/about-us/slide-3@2x-min-min.webp') 2x
        );
    }

    #about-us .slide-bg-4 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-4-min-min.webp') 1x,
            url('../img/about-us/slide-4@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-4-min-min.webp') 1x,
            url('../img/about-us/slide-4@2x-min-min.webp') 2x
        );
    }

    #about-us  .slide-bg-5 {
        background-image: -webkit-image-set(
            url('../img/about-us/slide-5-min-min.webp') 1x,
            url('../img/about-us/slide-5@2x-min-min.webp') 2x
        );
        background-image: image-set(
            url('../img/about-us/slide-5-min-min.webp') 1x,
            url('../img/about-us/slide-5@2x-min-min.webp') 2x
        );
    }
}

#about-us .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#about-us .swiper.mySwiper {
    max-width: 100%;
    height: 402px;
    position: relative;
}

#about-us .swiper-slide .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
    font: 400 16px / 1.5 "IBM Plex Sans", sans-serif;
    color: #f6f4f1;
}

#about-us .controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    max-width: 335px;
    height: 64px;
}

#about-us .swiper-pagination {
    position: static !important;
    max-width: auto !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    --swiper-pagination-color: #02060a;
}

#about-us .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
    opacity: 0.3;
    margin: 0 6px !important;
    transition: all 0.3s ease;
}

#about-us .swiper-pagination-bullet-active {
    opacity: 1;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    border-radius: 4px;
}

#about-us .swiper-buttons-container {
    display: flex !important;
    gap: 12px;
    max-width: auto;
    height: 48px !important;
    user-select: none;
    -webkit-user-select: none;
}

#about-us .swiper-button-next::after,
#about-us .swiper-button-prev::after {
    content: "" !important;
}

#about-us .swiper-button-next, #about-us .swiper-button-prev{
    border: 1px solid #c3b49d;
    border-radius: 8px;
    background: #eee9e3;
    width: 48px !important;
    height: 48px !important;
    padding: 12px;
    position: static !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 !important;
    color: #02060a;
}

#about-us .swiper-button-next:hover,
#about-us .swiper-button-prev:hover {
    border: 1px solid rgba(2, 6, 10, 0.6);
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #eee9e3;
}

#about-us .swiper-button-next svg,
#about-us .swiper-button-prev svg {
    width: 16px;
    height: 16px;
    position: relative !important;
}

#about-us .swiper-button-disabled {
    border: 1px solid #f6f4f1;
    border-radius: 8px;
    background: #eee9e3;
    opacity: 0.4 !important;
}

@media only screen and (min-width: 768px) {
   
    #about-us .swiper.mySwiper {
        height: 404px;
        align-items: center;
    }

    #about-us .swiper-slide .text {
        width: 550px;
        padding: 32px;
        box-sizing: content-box;
    }

    #about-us .controls-wrapper {
        justify-content: center; 
        max-width: 100%;
        margin-top: 0;
    }

    #about-us .swiper-buttons-container {
        position: absolute;
        top: 260px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-between;
        z-index: 10;
        pointer-events: none;
        box-sizing: border-box; 
    }

    #about-us .swiper-button-next,
    #about-us .swiper-button-prev {
        pointer-events: auto;
        padding: 0;
    }
}

@media only screen and (min-width: 1440px){
    #about-us .swiper.mySwiper {
        height: 753px;
        align-items: center;
    }

    #about-us .swiper-slide .text {
        width: 548px;
        height: 108px;
        padding: 64px;
        box-sizing: content-box;
        font: 400 18px / 1.5 "IBM Plex Sans", sans-serif;
    }

    #about-us .swiper-buttons-container {
        top: 460px;
        width: 95%;
    }

    #about-us .controls-wrapper{
        margin-top: 24px;
    }
}