:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: 'IBM Plex Sans', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #02060a;
  background-color: #f6f4f1;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.is-open {
  transform: translateX(0);
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background: currentColor;
  color: #383838;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px
  }

  100% {
    height: 4px
  }
}
html {
  scroll-behavior: smooth;
}