.nav-list {
    display: none;
}

.nav-link {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #02060A;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #02060A;
    transition: width 1s, left 1s;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    left: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
}
.header-logo-svg {
    fill: #332c22;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--color-mariner-darkest);
  opacity: 0.85;
  transform: translateY(-1px);
}

.nav-btn-link {
    display: block;
    max-width: 335px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #88765C;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px;
    width: 48px;
    height: 48px;
}

.burger-icon {
    display: block;
    fill: #0b0803;
    transition: fill 250ms ease;
}
.burger-btn:hover .burger-icon {
    fill: #5e4c32;
}

.nav-btn-link:hover,
.nav-btn-link:focus {
    color: #02060A;
    background-color: #EEE9E3;
    border: 1px solid #88765c;
}
.nav-btn-link:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 768px) {

    .header-section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-list {
        align-items: center;
    }

    .nav-item {
        margin-right: 32px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
    .nav-btn-link {
        width: 196px;
    }

}

@media screen and (min-width: 1440px) {

    

    .nav-list {
        display: flex;
        flex-direction: row;
        
    }
    .header-logo {
        margin-right: 15px;
    }

    .nav-item:nth-child(-n + 3) {
        margin-right: 32px;
    }

    .nav-item:last-child {
        margin-left: 520px;
    }

    .nav-btn-link {
        width: 130px;
    }
}

