.hero {
  padding-top: 64px;
  padding-bottom: 115px;
  background-image: url(../img/hero/hero-mob-min.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 375px;
  margin: 0 auto;
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}
.hero-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;
}
.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 45px;
  background-color: #88765c;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  transition: color 250ms ease, background-color 250ms ease;
}
.hero-link:hover,
.hero-link:focus {
  color: #02060a;
  background-color: #eee9e3;
  border: 1px solid #88765c;
}
.hero-link:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/hero-mob@2x-min.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-bottom: 235px;
    background-image: url(../img/hero/hero-tab-min.webp);
  }
  .hero-title {
    max-width: 622px;
  }
  .hero-text {
    max-width: 512px;
  }

}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/hero-tab@2x-min.webp);
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/hero-desk-min.webp);
    max-width: 1440px;
    padding-top: 128px;
    padding-bottom: 413px;
  }
  .hero-title {
    font-size: 56px;
  }
  .hero-text {
    font-size: 18px;
  }
  .hero-link {
    font-size: 16px;
  }
  .hero-wrap {
    margin-left: 0;
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/hero-desk@2x-min.webp);
  }
}
