.mobile-menu {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #F6F4F1;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-header-logo {
    width: 84px;
    padding: 18px 10.5px 18px 11px;
}

.mobile-menu-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.svg-icon-close {
    transition: fill 250ms ease;
    stroke-width: 1px;
    stroke: #02060a;
    width: 14px;
    height: 14px;
    transition: stroke 250ms ease;
}
.mobile-menu-close:hover .svg-icon-close {
    stroke: #5e4c32;
}

.mobile-menu-nav {
 margin-top: 40px;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
}

.nav-item:last-child {
    margin-top: 64px;
}

@media screen and (min-width: 768px) {
    .nav-item {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {

    .nav-item:last-child {
            margin-top: 0;
        }

    .burger-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }


}