/* start scroll */
.scroll-top.is-on {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.scroll-top {
    border: 1px solid #c3b49d;
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: #eee9e3;
    color: #02060a;

    position: fixed;
    right: 24px;
    bottom: 24px;
    cursor: pointer;
    z-index: 1000;
    max-width: 48px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    pointer-events: none;

    transition: opacity 200ms ease, transform 200ms ease, visibility 200ms ease;
}

.scroll-top:hover,
.scroll-top:focus {
    border: 1px solid rgba(2, 6, 10, 0.6);
}

.scroll-top:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
/* end scroll */

#feedback {
    padding: 64px 0;
}

.feedback-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;

    margin-bottom: 24px;
}

.feedback-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #02060a;

    margin-bottom: 40px;
}

.swiper.feedback-swiper {
    width: 100%;
    margin: 0 auto;
}

.swiper-wrapper {
    margin: 0 auto;
}

#feedback .rating .star-filled {
    fill: #02060a;
}

#feedback .rating .star-half {
    fill: #02060a;
}

#feedback .rating .star-empty {
    fill: #02060a;
}

.rating {
    display: flex;
    justify-content: start !important;
    margin: 0;
}

.feedback-comment {
    font-family: "IBM Plex Sans",
        sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #02060a;

    margin-top: 32px;
}

.feedback-author {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #02060a;

    margin-top: 32px;
}

.feedback-navigation {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.feedback-swiper-pagination {
    display: flex;
    justify-content: flex-start;
    transform: translateX(0) !important;
}

#feedback .swiper-pagination-bullet {
    fill: #02060a;
    background-color: #02060a;
}

#feedback .swiper-pagination-bullet-active {
    fill: #02060a;
    background-color: #02060a;
}

.arrow {
    display: flex;
    gap: 16px;
}

.arrow button {
    border: 1px solid #c3b49d;
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: #eee9e3;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:focus-visible {
    outline: none;
    border: 1px solid rgba(2, 6, 10, 0.6);
}

.arrow button:hover,
.arrow button:focus {
    border: 1px solid rgba(2, 6, 10, 0.6);
}

.arrow button:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.feedback-swiper-button-prev.is-disabled,
.feedback-swiper-button-next.is-disabled,
.feedback-swiper-button-prev.swiper-button-disabled,
.feedback-swiper-button-next.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
    border: 1px solid #f6f4f1;
    background-color: #eee9e3;
    opacity: 0.4;
}

@media screen and (min-width: 1440px) {
    #feedback {
        padding: 80px 0;
    }

    .feedback-title {
        font-size: 48px;
        max-width: 768px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
}